* {
    box-sizing: border-box;
}

body {
    background-color: #E6E6E6;
}

.container {
    max-width: 1280px;
    background-color: rgb(215, 215, 215);
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    min-width: 440px;
    list-style: none;
    padding: 0;
}

.navigation-list__item {
    text-decoration: none;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    color: #545454;
    line-height: 160%;
}

.navigation-list__item--hover:hover {
    color: #FAFAFA;
    cursor: pointer;
    transition: 0.3s;
}

.navigation-list__item:hover {
    color: #292929;
    cursor: pointer;
    transition: 0.3s;
}

.navigation-list__item--active {
    border-bottom: 3px solid #F1CDB3;
}

.header-wrapper {
    display: flex;
    background-color: white;
    color: white;
    min-width: 1200px;
    justify-content: space-between;
    padding: 0 40px;
    height: 120px;
    align-items: center;
}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.header-logo__title {
    margin: 0;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 2.2px;
    color: #545454;
    height: 35px;
    font-family: Georgia;
}

.header-logo__subtitle {
    font-family: Arial;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.275px;
    color: #292929;
    height: 15px;
}

.pets-wrapper {
    height: 1342px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
}

.pets-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    width: 1200px;
    height: 1162px;
    gap: 45px;
    margin-bottom: 20px;
}

.pets-screen-text {
    font-family: Georgia;
    letter-spacing: 2.2px;
}

.pets-screen-text__title {
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    color: #545454;
}

.pets-screen-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.pets-screen-content-box {
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    gap: 30px;
}

.pets-screen-content-box-wrapper {
    width: 270px;
    height: 270px;
}

.pets-screen-content-box__title {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1.2px;
    color: #545454;
    font-family: Georgia;
}

.pets-screen-content-box__button {
    background: #FAFAFA;
    border-radius: 100px;
    outline: none;
    border: 2px solid #F1CDB3;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    color: #292929;
    width: 187px;
    height: 52px;
    letter-spacing: 1.2px;
}

.pets-screen-content-box:hover {
    cursor: pointer;
}

.pets-screen-content-box:hover .pets-screen-content-box__button {
    background-color: #FDDCC4;
    cursor: pointer;
    transition: 0.3s;
}

.pets-screen-content-block-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 930px;
    row-gap: 30px;
    column-gap: 40px;
    padding: 15px 0;
}

.pets-screen-buttons {
    display: flex;
    gap: 20px;
}

.pets-screen-buttons__arrow {
    font-size: 20px;
    border-radius: 100px;
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
}

.pets-screen-buttons__arrow-unactive-2 {
    border: 2px solid #CDCDCD;
}

.pets-screen-buttons__arrow-unactive-1 {
    border: 2px solid #CDCDCD;
}

.pets-screen-buttons__arrow-active-1 {
    border: 2px solid #F1CDB3;
}

.pets-screen-buttons__arrow-active-2 {
    border: 2px solid #F1CDB3;
}

.pets-screen-buttons__arrow-number {
    background-color: #F1CDB3;
    border: #F1CDB3;
    font-size: 20px;
    font-family: Georgia;
}

.footer-wrapper {
    height: 350px;
    padding: 0 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: rgb(50,44,41);
    background: linear-gradient(135deg, rgba(50,44,41,1) 0%, rgba(66,47,33,1) 15%, rgba(64,46,33,1) 20%, rgba(19,19,20,1) 77%);
}

.footer-screen {
    width: 1200px;
    display: block;
    align-self: center;
}

.footer-screen-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-screen-img {
    display: flex;
}
.footer-screen-img__content {
    margin-top: 40px;
}

.footer-screen-text-block__title {
    font-weight: 400;
    font-size: 35px;
    font-family: Georgia;
    line-height: 45px;
    color: white;
    margin: 0;
    letter-spacing: 2px;
}

.footer-screen-text-block__mail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 251px;
    height: 32px;
}

.footer-screen-text-block__mail-content {
    font-weight: 400;
    font-size: 20px;
    font-family: Georgia;
    letter-spacing: 1.18px;
    color: #F1CDB3;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer-screen-text-block__number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 239px;
    height: 32px;
}

.footer-screen-text-block__number-content {
    font-weight: 400;
    font-size: 20px;
    font-family: Georgia;
    letter-spacing: 1.18px;
    color: #F1CDB3;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer-screen-text-block__address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
}

.footer-screen-text-block__address-content {
    font-weight: 400;
    font-size: 20px;
    font-family: Georgia;
    letter-spacing: 1.18px;
    color: #F1CDB3;
    height: 46px;
    width: 260px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.footer-screen-img__content {
    margin-top: 40px;
}

.footer-screen-text-block__title {
    font-weight: 400;
    font-size: 35px;
    font-family: Georgia;
    line-height: 45px;
    color: white;
    margin: 0;
    letter-spacing: 2px;
}

.footer-screen-text-block__mail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 251px;
    height: 32px;
}

.footer-screen-text-block__mail-content {
    font-weight: 400;
    font-size: 20px;
    font-family: Georgia;
    letter-spacing: 1.18px;
    color: #F1CDB3;
    display: flex;
    align-items: center;
}

.footer-screen-text-block__number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 239px;
    height: 32px;
}

.footer-screen-text-block__number-content {
    font-weight: 400;
    font-size: 20px;
    font-family: Georgia;
    letter-spacing: 1.18px;
    color: #F1CDB3;
    display: flex;
    align-items: center;
}

.footer-screen-text-block__address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
}

.footer-screen-text-block__address-content {
    font-weight: 400;
    font-size: 20px;
    font-family: Georgia;
    letter-spacing: 1.18px;
    color: #F1CDB3;
    height: 46px;
    width: 260px;
    display: flex;
    align-items: center;
}

.footer-screen-text-block__address--big {
    height: 46px;
}

.footer-screen-text-block-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 234px;
}

.footer-screen-text-block-2 {
    width: 302px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 234px;
}

