

.container {
    max-width: 1280px;
    background-color: rgb(215, 215, 215);
    margin: 0 auto;
}

.start-screen-wrapper {
    background: rgb(48,35,26);
    background: linear-gradient(90deg, rgba(48,35,26,1) 0%, rgba(36,35,34,1) 100%);
    padding: 0 40px;
}

.start-screen {
    width: 100%;
    height: 908px;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.start-screen-text {
    align-self: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
}

.start-screen-text__title {
    max-width: 310px;
    font-size: 44px;
    line-height: 57.2px;
    font-family: Georgia;
    font-weight: 400;
    margin: 0;
}

.start-screen-text__subtitle {
    margin: 0;
    max-width: 460px;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
}

.start-screen-text__btn {
    background: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    outline: none;
    border: none;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #292929;
}

.start-screen-img-dog {
    display: flex;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    min-width: 440px;
    list-style: none;
    padding: 0;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    color: #CDCDCD;
}

.header-wrapper {
    display: flex;
    position: absolute;
    color: white;
    min-width: 1200px;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    top: 60px;
}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.3334;
}

.header-logo__title {
    margin: 0;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 2.67px;
    color: #F1CDB3;
}

.header-logo__subtitle {
    font-family: Arial;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.275px;
    color: #CDCDCD;
}

.about-wrapper {
    height: 588px;
    background-color: white;
    padding: 0 40px;
    display: flex;
}

.about-screen {
    display: flex;
    align-items: center;
    width: 1200px;
    justify-content: space-around;
}

.about-screen-wrapper-text__title {
    margin: 0;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    width: 370px;
}

.about-screen-wrapper-text__subtitle {
    width: 430px;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.pets-wrapper {
    height: 877px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
}

.pets-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    width: 1200px;
}

.pets-screen-text__title {
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
}

.pets-screen-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.pets-screen-content-box {
    width: 270px;
    height: 475px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 9px;
}

.pets-screen-content-box-wrapper {
    width: 270px;
    height: 270px;
}

.pets-screen-content-box__title {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1.2px;
}

.pets-screen-content-box__button {
    background: #FAFAFA;
    border-radius: 100px;
    padding: 15px 45px;
    outline: none;
    border: 2px solid #F1CDB3;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #292929;
    width: 187px;
    height: 52px;
}

.pets-screen-content-block-wrapper {
    display: flex;
    gap: 90px;
}

.pets-screen-button {
    background: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    outline: none;
    border: none;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #292929;
}

.pets-screen-content-arrow-wrapper {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
